:root {
  --app-font: 'Quicksand', 'Lato', sans-serif;
  --neutral-color: white;
}

.Launch h1{
  font-family: var(--app-font);
  text-align: center;
  background: var(--neutral-color);
  user-select: none;
  background-color: indianred;
  color: white;
}