:root {
  --app-font: 'Roboto';
  --neutral-color: white;
}

.Launch h1{
  font-family: var(--app-font);
  text-align: center;
  background: var(--neutral-color);
  user-select: none;
  background-color: rgb(175, 87, 46);;
  color: white;
}