:root {
  --app-font: 'Roboto';
  --neutral-color: white;
}
.Launch{
  background-color: transparent;
}
.Launch h1{
  font-family: var(--app-font);
  text-align: center;
  background: var(--neutral-color);
  user-select: none;
  background-color: transparent;
  color: white;
}