/* Page d'accueil le "Salon" */
html body {
    font-family: 'Montserrat', sans-serif, 'Roboto'; 
    background: url('./LivingRoomTV.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    margin: none;
    position: relative ;
}
/* linear-gradient(#d99775, #c27475); */
/* linear-gradient (#684e4c, #69504d, #7d5c53) */
/* linear-gradient (#60d3b4, #5cc6a8) */
/* linear-gradient (#588789, #4c7a7a) */
header .triproulette {
    width: fit-content;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.9rem;
    font-family: 'Roboto' sans-serif;
    color: #60d3b4;
    background-color: #5cc6a840;
    padding: 0.6rem;    
    top: 0.1rem;
    right: -1.5rem;
    
}

footer {
    display: flex;
    justify-content: center;
    position: relative; 
    bottom: -30rem; 
    left: 0; 
    right: 0}

#footer {
    font-size: 10px;
    font-weight: bold; 
    margin: 0rem !important ;
    
}

/* Page des webcams  */

.webcamtv {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}
.webcamtv p {
    display: none;
}

.webcamdetails {
    font-family: 'Roboto' sans-serif;
    font-size: 0.7rem;
    color : #3f3538;
    border-style: solid;
    border-color: #7d5c53;
    box-shadow: 3px 4px #684e4c;
    box-sizing: border-box;
    background-color:#58878999 ;
    position: absolute;
    bottom : auto;
    top: 29rem;
    right: 1rem;
    left: 79rem;
    height: 4.4rem;
    padding: 0.2rem;
    display: flex;
    align-items: flex-start;
    
}

iframe {
    border-style: none;
    position: absolute;
    top: 1.9rem;
    bottom: auto;
    right: 9.5rem;
    left: 27rem;
    height: 395px;
    width: 730px;
}
